<div style="margin-top:20px;margin-bottom:30px">
  <h1 style="text-align:center">新建商品类型</h1>
</div>
<div class="container", style="display:flex; justify-content: center;">
  <%= form_with(model: [@product, @product_type]) do |form| %>
    <div class="field">
      <%= form.label :product_type_name, '商品类型名称', style: "display: block" %>
      <%= form.text_field :product_type_name %>
    </div>
    <div class="field">
      <%= form.label :price, '售价', style: "display: block" %>
      <%= form.number_field :price, step: 0.01%>
    </div>
    <div class="actions">
      <%= form.submit "提交" %>
    </div>
  <% end %>
</div>
