<div class="container manage-table-container" >
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"> </th>
        <th scope="col">名称</th>
        <th scope="col">描述</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      <% @favorites.each do |favorite| %>
        <tr>
          <th scope="row"> <%= favorite.favorite_product.id %> </th>
          <td style="width:200px">
            <%= image_tag(favorite.favorite_product.product_url, class: "product_pic_small") %>
          </td>
          <td>
            <p><%= link_to favorite.favorite_product.product_name, favorite.favorite_product %></p>
          </td>
          <td> <%= favorite.favorite_product.description %> </td>
          <td>
            <div class="btn-group me-2">
              <%= button_to favorite_path(favorite), method: :delete, class:"btn btn-danger" do %>
                取消收藏
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
