<div id="<%= dom_id order %>">
  <div>
    <%= "订单号：" + order.id.to_s %>
  </div>
  <ul>
    <% order.order_items.each do |item| %>
      <li>
        <%= item.product_type.product.product_name %>
        <%= item.product_type.product_type_name %>
        <%= "x" + item.quantity.to_s %>
        <%= item.price %>
      </li>
    <% end %>
  </ul>
  <div>
    <%= "总价：" + order.total_price.to_s %>
  </div>
  <div>
    <%= "状态：" + order.status %>
  </div>
  <div>
    <%= "收件地址：" + order.delivery_address %>
  </div>
  <div>
    <%= "收件人：" + order.delivery_name %>
  </div>
  <div>
    <%= "电话：" + order.delivery_phone %>
  </div>
  <div>
    <%= "电话：" + order.delivery_phone %>
  </div>
</div>
