<div style="margin-top:20px;margin-bottom:30px">
  <h1 style="text-align:center">购物车</h1>
</div>
<div class="content-container" style="width:1100px;margin-left:auto;margin-right:auto">
  <%= form_with(model: @order, class: "cart-form") do |f| %>
    <% @cart_items.each do |cart_item| %>
      <div class="cart-item-container">
        <%= f.check_box :cart_item_ids, { multiple: true }, cart_item.id, nil %>
        <div class="cart-son">
          <%= image_tag(cart_item.product_type.product.product_url, class: "product_pic_small") %>
        </div>
        <div class="cart-son">
          <%= link_to cart_item.product_type.product.product_name, cart_item.product_type.product %>
        </div>
        <div class="cart-son item-props">
          <%= "类型：" + cart_item.product_type.product_type_name %><br>
          <%= "颜色："  + cart_item.color %><br>
          <%= "尺码：" + cart_item.size %><br>
        </div>
        <div class="cart-son">
          <%= cart_item.product_type.price %>
        </div>
        <div class="cart-son">
          <%= "数量：" + cart_item.quantity.to_s %>
        </div>
        <div class="cart-son">
          <%= link_to "删除", cart_item_path(cart_item), data: { turbo_method: :delete } %>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.select :address_id, current_user.addresses.map{ |address| [[address.delivery_address, address.delivery_name, address.delivery_phone].join(", "), address.id]}, { prompt: '请选择收件地址' }, { class: 'form-control' } %>
    </div>
    <%= f.submit "提交订单", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
