<div style="margin-top:20px">
  <h1 style="text-align:center">我的订单</h1>
</div>
<%= link_to "全部订单", my_orders_path, class:"btn btn-primary" %>
<%= link_to "待发货", wait_delivery_orders_path, class:"btn btn-primary" %>
<%= link_to "待收货", wait_settle_orders_path, class:"btn btn-primary" %>
<%= link_to "已完成", finished_orders_path, class:"btn btn-primary" %>
<%= render "orders/index" %>
