<div style="margin-top:20px;margin-bottom:30px">
  <h1 style="text-align:center">修改商品</h1>
</div>
<div class="container">
  <h2> 基本信息 </h2>
  <ul class="list-group">
    <li class="list-group-item">
      商品名称: <%= @product.product_name %>
    </li>
    <li class="list-group-item">
      商品描述: <%= @product.description %>
    </li>
    <li class="list-group-item">
      图片 URL: <%= @product.product_url %>
    </li>
  </ul>
  <%# <div> %>
  <%# <%= @product.product_name %>
  <%# </div> %>
  <%# <div> %>
  <%# <%= @product.description %>
  <%# </div> %>
  <%# <div> %>
  <%# <%= @product.product_url %>
  <%# </div> %>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    修改商品基本信息
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">修改商品基本信息</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with(model: @product, id: "update_product_form") do |form| %>
            <% if @product.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(@product.errors.count, "error") %> prohibited this @product from being saved:</h2>
                <ul>
                  <% @product.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div>
              <%= form.label :product_name, "商品名称", style: "display: block"  %>
              <%= form.text_field :product_name , class: "form-control"%>
            </div>
            <div>
              <%= form.label :description, "商品描述", style: "display: block"  %>
              <%= form.text_field :description , class: "form-control"%>
            </div>
            <div>
              <%= form.label :product_url, "图片 URL", style: "display: block"  %>
              <%= form.text_field :product_url , class: "form-control"%>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> 取消 </button>
          <button id="update_product_submit_button" type="button" class="btn btn-primary"> 提交 </button>
        </div>
      </div>
    </div>
  </div>
  <%# <%= render "form", product: @product%>
</div>
<br>
<div class="container" >
  <h2> 商品类型信息 </h2>
  <%= link_to "新建商品类型", new_product_product_type_path(@product), class:"btn btn-primary" %>
</div>
<div class="container manage-table-container" >
  <table class="table">
    <thead>
      <tr>
        <th scope="col">类型名称</th>
        <th scope="col">价格</th>
        <th scope="col">尺码</th>
        <th scope="col">颜色</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @product.product_types.each do |product_type| %>
        <tr>
          <th scope="row"> <%= product_type.product_type_name %> </th>
          <td> <%= product_type.price %> </td>
          <td> <%= product_type.product_type_sizes.pluck(:size).join(', ') %> </td>
          <td> <%= product_type.product_type_colors.pluck(:color).join(', ') %> </td>
          <td>
            <%= link_to "修改", edit_product_product_type_path(@product, product_type), class: "btn btn-sm btn-outline-secondary"  %>
            <%= link_to "删除", product_product_type_path(@product, product_type), data: { turbo_method: :delete, turbo_confirm: '确定要删除该商品类型吗？'}, class: "btn btn-sm btn-outline-danger"  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  document.getElementById("update_product_submit_button").addEventListener("click", function() {
    document.getElementById("update_product_form").submit();
  });
</script>
