<p style="color: green"><%= notice %></p>
<h1>Products</h1>
<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>
<div>
  <%= link_to "新建商品", new_product_path %>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">名称</th>
      <th scope="col">描述</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <th scope="row"> <%= product.id %> </th>
        <td> <%= product.product_name %> </td>
        <td> <%= product.description %> </td>
        <td> <%= link_to "管理商品", edit_product_path(product) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
