<div style="margin-top:20px;margin-bottom:30px">
  <h1 style="text-align:center">商品管理</h1>
</div>
<div class="container manage-table-container" >
  <div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      新建商品
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">新建商品</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= form_with(model: @new_product, id: "new_product_form") do |form| %>
              <% if @new_product.errors.any? %>
                <div style="color: red">
                  <h2><%= pluralize(@new_product.errors.count, "error") %> prohibited this @new_product from being saved:</h2>
                  <ul>
                    <% @new_product.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div>
                <%= form.label :product_name, "商品名称", style: "display: block"  %>
                <%= form.text_field :product_name , class: "form-control", placeholder: "1 到 20 个字符", maxlength: 20 %>
              </div>
              <div>
                <%= form.label :description, "商品描述", style: "display: block"  %>
                <%= form.text_field :description , class: "form-control", placeholder: "最大 30 个字符", maxlength: 30 %>
              </div>
              <div>
                <%= form.label :product_url, "图片 URL", style: "display: block"  %>
                <%= form.text_field :product_url , class: "form-control"%>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> 取消 </button>
            <button id="new_product_submit_button" type="button" class="btn btn-primary"> 提交 </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">商品 ID</th>
        <th scope="col" style="width: 200px;">商品图片</th>
        <th scope="col">商品名称</th>
        <th scope="col">商品描述</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <th scope="row"> <%= product.id %> </th>
          <td>
            <%= image_tag(product.product_url, class: "product_pic") %>
          </td>
          <td>
            <%= product.product_name %>
          </td>
          <td> <%= product.description %> </td>
          <td>
            <%= link_to product, class:"btn btn-sm btn-outline-secondary" do %>
              商品页面
            <% end %>
            <%= link_to edit_product_path(product), class:"btn btn-sm  btn-outline-secondary" do %>
              管理商品
            <% end %>
            <%= link_to product_path(product), class:"btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: '确定要删除该商品吗？'} do %>
              删除商品
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  document.getElementById("new_product_submit_button").addEventListener("click", function() {
    document.getElementById("new_product_form").submit();
  });
</script>
