<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="left-panel">
      <% if user_signed_in? %>
        <%= link_to '首页', '/main' %></br> 
        <%= link_to '购物车', '/cart' %> </br> 
        <%= link_to '我的', '/mine' %> </br> 
      <% else %>
        <%= link_to 'Sign in', new_user_session_url %>
      <% end %>
    </div>

    <div id="main-panel">
      <%= yield %>
    </div>
  </body>
</html>
